.advice {
    background-color: $section-background;
}

.slider-items {
    display: flex;
    gap: 30px;
}

.slider-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;

    background-color: $white;

    &__info {
        padding: 30px;

        h5 {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.1px;
            
            color: $text-color;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.2px;
            
            color: $second-text-color;
        }
    }
}

.swiper-nav {
    cursor: pointer;
}